body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: lightblue;
    color: #ffffff;
    padding: 1.5em;
    text-align: center;
    border-bottom: 5px solid #b0e0e6;
    border-radius: 0 0 20px 20px;
}

nav {
    text-align: center;
    margin: 0.5em 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1.2em;
    padding: 0.3em 0.7em;
    background-color: rgb(218, 179, 218);
    border-radius: 10px;
    transition: background-color 0.3s;
    font-family: 'Fredoka One', cursive; /* Applying Fredoka One font */
}

nav a:hover {
    background-color: #ffb6c1;
}

.content {
    text-align: center;
    padding: 2em;
    flex: 1;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
}

.project {
    background-color: #f0f0f0;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}



.project-info {
    flex: 1;
}

.project h2 {
    font-family: 'Fredoka One', cursive; 
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.project p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1em;
    
}

.links {
    display: none;
    margin-top: auto;
}

.links a {
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: #333333;
    font-size: 1em;
    transition: color 0.3s;
}

.links a:hover {
    color: #ffb6c1;
}

.project:hover .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgb(187, 218, 187);
    color: #ffffff;
    text-align: center;
    padding: 1em;
    border-top: 5px solid #b0e0e6;
    border-radius: 20px 20px 0 0;
    margin-top: auto;
}